/* Estilos para los títulos de la sección */
.section-title-au{
    margin: 1%;
    text-align: center; 
    color: var(--header-color);
}

#contact-text{
    text-align: center;
}

/* Estilo para los párrafos dentro del div de about us principal */
.textoDiv > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 2% auto;
    max-width: 95vw; 
}

section{
    margin: 40px 5%;
    padding: 10px 5px;
    background-color: var(--secondary-bg-color);
}

/* Estilo para el contenedor de las sucursales */
.sucursales {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    align-items: flex-start;  
}
/* Estilos para lso div dentro de sucursales */
.sucursales > div {
    width: 350px;   
    margin: 10px; 
    padding: 10px;  
    
    text-align: center;  
}