:root{
    --book-details-bg-color: #262626;
    --book-sheet-data-bg-color: #262626;
    --button-bg-color: #174031;
    --transparent-button-bg: #17403163;
    --secondary-font-color: #2c7659;
}

/* ------------------ Book Details Page Only ------------------- */

.book-detail{
    /* Size and Position */
    margin: 25px 20px;
    padding: 20px;

    /* Design */
    display: flex;
    background-color: var(--book-details-bg-color);
    gap: 20px;

}

.book-data{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.book-author{
    text-align: center;
}


/* Book Buying */

.book-buying{
    margin-top: 20px;
    row-gap: 10px;
    height: fit-content;
}

#title, #star-rating{
    font-size:xx-large;
}
#synopsis, #author{
    color: var(--secondary-font-color);
}
.book-synopsis{
    justify-self: start;
    height: 320px;
    overflow: hidden;
    margin-top: 40px;
}

#synopsis *{
    /* Se agrega esta línea porque algunas descripciones tienen código html que reaccionan a los estilos. */
    color: var(--secondary-font-color);
} 

#synopsis-button{
    border: 0px;
    background-color: var(--transparent-button-bg);
    width: 100%;
    height: 40px;
}
.book-buying > a{
    background-color: var(--button-bg-color);
    padding: 10px 20px;
    border-radius: 10px;
    

    text-decoration: none;
    text-wrap: nowrap;
}


@media screen and (max-width: 504px){
    .book-detail{
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }
    
    .book-detail > div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
/* Book Data Sheet */

.data-sheet{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--book-sheet-data-bg-color);
    padding: 20px;
}

.data-sheet > *{
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
}

.data > h3{
    color: var(--secondary-font-color);
}


.book-list{
    margin-bottom: 40px;
}