:root{
    --book-details-bg-color: rgb(50, 55, 50);
    --book-sheet-data-bg-color: rgb(55, 60, 55);
    --header-color: rgb(146, 206, 122);
    --button-bg-color: rgb(31,31,31);
    --secondary-font-color: rgb(241, 230, 212);
}

/* ------------------ Book Details Page Only ------------------- */

.book-detail{
    /* Size and Position */
    margin: 25px 20px;
    padding: 20px;

    /* Design */
    display: flex;
    background-color: var(--book-details-bg-color);
    gap: 20px;

}

.book-cover{
    box-shadow: 10px white;
}

.book-data{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 50px;
}

.book-author{
    text-align: center;
}


/* Book Buying */

.book-buying{
    margin-top: 20px;
    row-gap: 10px;
    height: fit-content;
}

#title, #star-rating{
    font-size:xx-large;
}
#synopsis, #author{
    color: var(--secondary-font-color);
}

#synopsis *{
    /* Se agrega esta línea porque algunas descripciones tienen código html que reaccionan a los estilos. */
    color: var(--secondary-font-color);
} 

.book-buying > a{
    background-color: var(--header-color);
    padding: 10px 20px;
    border-radius: 10px;
    

    text-decoration: none;
    text-wrap: nowrap;
}

a > span{
    color: var(--bg-color);
}


/* Book Data Sheet */

.data-sheet{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--book-sheet-data-bg-color);
    padding: 20px;
}

.data-sheet > *{
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
}

.data > h3{
    color: var(--secondary-font-color);
}