:root{
    /* Variables CSS */
    --header-color: rgb(146, 206, 122);
    --bg-color: rgb(34, 33, 32);
    --primary-font-color: rgb(194, 124, 77);
}

*{
    margin: 0px;
    color: var(--primary-font-color);
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

/* -------- Header -------- */

.banner{
    background-color: var(--header-color);
    height: 50px;
    padding-top: 5px;
    text-align: center;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

h1{
    color: rgb(21, 65, 29);
}

/* --- Menu --- */
.menu{
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
}

.menu div{
    display: inline;
}

.menu a{
    color: rgb(9, 48, 13);
    text-decoration: none;
    margin: 0px 10px;
}

.book-menu, .profile-menu{
    margin: 10px 20px;
}

/* -------- Main -------- */

/* --- Sections --- */
.section-title{
    margin: 50px auto 20px;
    text-align: center;
}

/* --- Book List --- */

.book-list{
    background-color: rgb(50, 55, 50);
    /* Size and Position */
    margin-left: 5%;
    padding: 10px;
    width: 90%;

    /* Display */
    display: flex;
    gap: 15px;
    overflow-x: auto;
    /* flex-wrap: wrap;
    justify-content: center; */
    
    
}

.book-item{
    text-align: center;
}

.book-item-title{
    height: 50px;
}

.book-item-cover{
    height: 345px;
    transition: height 0.2s;
}
/* - Transition - */

.book-item-cover:hover{
    height: 356px;
}



