:root{
    /* Variables CSS */
    --header-color: #2c7659;
    --form-button-color: #2c7659;
    --form-color: #174031;
    --bg-color: #0d0d0d;
    --secondary-bg-color: #262626;
    --primary-font-color: #f2f2f2;

}

html, body, #app{
    height: 100%;
}


*{
    margin: 0px;
    color: var(--primary-font-color);
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

/* -------- Header -------- */

.banner{
    background-color: var(--header-color);
    height: 50px;
    padding-top: 5px;
    text-align: center;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

/* --- Menu --- */

.menu{
    height: 64px;
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 180px auto 256px;
    align-items: center;
    column-gap: 4px;
}

.menu a{
    color: var(--primary-font-color);
    text-decoration: none;
    margin: 0px 10px;
}

.menu > h1, #profile-menu{
    justify-self: center;
}
.menu a:hover{
    text-decoration: underline;
}

.book-menu{
    display: grid;
    grid-template-columns: auto 64px;
}

.profile-menu{
    justify-self: center;
}


#search{
    background-color: var(--form-color);
    border-color: var(--bg-color);
    border-radius: 20px 0px 0px 20px;
    flex: 1;
}

#search-button{
    background-color: var(--form-button-color);
    color: var(--primary-font-color);
    padding: 0px, 5px;
    border-radius: 0px 20px 20px 0px;
}

@media screen and (max-width: 560px){
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .menu div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .book-menu, .profile-menu{
        padding: 10px 0px;
        margin: 10px 0px;
    }
    .profile-menu{
        border-bottom: 1px black solid;
    }
    #search-form{
        width: 90%;
    }
    #search{
        width: 80%;
    }
}

/* -------- Main -------- */

/* --- Sections --- */
.section-title{
    margin: 50px auto 20px;
    text-align: center;
}

/* --- Book List --- */

.book-list{
    background-color: var(--secondary-bg-color);
    height: 390px;
    /* Size and Position */
    margin-left: 5%;
    padding: 10px;
    width: 90%;

    /* Display */
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scrollbar-color: var(--primary-font-color) var(--header-color);
    
}

.book-item{
    text-align: center;
}

.book-item-title{
    height: 50px;
}

.book-item-cover{
    height: 345px;
    max-width: 280px;
    overflow: hidden;
    transition: height 0.2s;
}
/* - Transition - */

.book-item-cover:hover{
    height: 356px;
}
/* footer */
footer {
    display: inline-flexbox;
    padding: 20px;
    background-color: var(--header-color);
    box-sizing: border-box;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

footer a{
        color: var(--primary-font-color);
        text-decoration: none;
        margin: 0px 10px;
    }
    
    
footer a:hover {
    text-decoration: underline;
}

.footer-wp{
    align-items: center;
}
@media screen and (max-width: 768px) {
    footer {
        padding: 10px;
    }
}



